services:
  bankingsystemaccountservice:
    image: ghcr.io/murphym2004/banking_systems_account_service/app
    env_file: ./.env
    ports:
      - "8081:8081"
    networks:
      - labnet


networks:
  labnet: